<div class="split">
    <div class="profile">
        <img class="background" [src]="profile.crest(profile.summoner.tier)" />

        <img class="border-bottom" src="../../assets/img/borders/diamond_bottom.png" />
        <img
            class="summoner-icon"
            [src]="'https://cdn.communitydragon.org/latest/profile-icon/' + profile.summoner.icon"
        />
        <img class="border-top" src="../../assets/img/borders/diamond_top.png" />

        <img class="level-background" src="../../assets/img/level.png" />
        <p class="level-level">{{ profile.summoner.level }}</p>
        <p class="summoner-name">{{ profile.summoner.name }}</p>
        <pre
            class="summoner-id"
            title="Your Summoner ID"
            appTippy
            [tippyOptions]="{
                placement: 'right',
                theme: 'light',
                arrow: true,
                arrowType: 'round'
            }"
            >{{ profile.summoner.id }}</pre
        >
        <p class="summoner-elo">
            {{ profile.summoner.tier }}
            {{ profile.summoner.division }}
        </p>
        <!--<p class="summoner-queue">{{ profile.summoner.queue }}</p>-->
    </div>
    <div class="settings">
        <!-- Custom Summoner Name -->
        <h1 style="margin-top: 0;">
            Custom Summoner Name
            <img
                class="warning"
                src="../../assets/img/warning_mini.png"
                title="This change is local, only you will be able to see it!"
                appTippy
                [tippyOptions]="{
                    placement: 'bottom',
                    theme: 'light',
                    arrow: true,
                    arrowType: 'round'
                }"
            />
        </h1>

        <input type="text" [(ngModel)]="profile.form.customName" />
        <button (click)="profile.setSummonerName()">Set Summoner Name</button>

        <!-- Custom Rank -->
        <div class="divider"></div>
        <h1>
            Custom Rank
        </h1>

        <app-select [options]="profile.tiers" [(ngModel)]="profile.form.customRank.tier"></app-select>
        <app-select [options]="profile.divisions" [(ngModel)]="profile.form.customRank.division"></app-select>
        <app-select [options]="profile.queues" [(ngModel)]="profile.form.customRank.queue"></app-select>
        <button (click)="profile.setRank()">Set Rank</button>

        <!-- Custom Status -->
        <div class="divider"></div>
        <h1>Custom Status</h1>

        <input type="text" [(ngModel)]="profile.form.customStatus" />
        <button (click)="profile.setStatus()">Set Status</button>

        <!-- Custom Icon -->
        <div class="divider"></div>
        <h1>Custom Summoner Icon</h1>
    </div>
</div>
