.split {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.profile {
    width: 240px;
    height: 100%;
    padding-right: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

.warning {
    margin-bottom: -3px;
    margin-left: 5px;
    cursor: pointer;
}

.profile > .background {
    margin-top: -35px;
}

.profile > .summoner-icon {
    position: absolute;
    width: 121px;
    height: 121px;
    border-radius: 50%;
    top: 70px;
}

.profile > .border-bottom {
    position: absolute;
    top: 0;
    width: 225px;
}

.profile > .border-top {
    position: absolute;
    top: 0;
    width: 225px;
}

.profile > .level-background {
    position: absolute;
    top: 190px;
}

.profile > .level-level {
    position: absolute;
    top: 190px;
    margin-top: 6px;
    font-family: Beaufort;
    color: #f0e6d2;
    font-weight: bold;
}

.profile > .summoner-name {
    position: absolute;
    top: 275px;
    margin: 0;
    font-family: Beaufort;
    color: #f0e6d2;
    font-weight: bold;
    font-size: 24px;
}

.profile > .summoner-id {
    position: absolute;
    top: 305px;
    margin: 0;
    color: #f0e6d2;
    font-size: 12px;
    cursor: pointer;
}

.profile > .summoner-elo {
    position: absolute;
    top: 325px;
    margin: 0;
    font-family: Beaufort;
    color: #f0e6d2;
    font-weight: bold;
    font-size: 14px;
}

.profile > .summoner-queue {
    position: absolute;
    top: 265px;
    margin: 0;
    font-family: Beaufort;
    color: #f0e6d2;
    font-weight: bold;
    font-size: 9px;
}

.settings {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
