<div class="split">
    <div class="profile">
        <img class="background" [src]="profileCrestUrl(profile.summoner.tier)" />
        <img class="summoner-icon" [src]="'https://static.4da.ms/toolkit/icons/' + profile.summoner.icon + '.png'" />
        <img class="level-background" src="../../assets/img/level.png" />
        <p class="level-level">{{ profile.summoner.level }}</p>
        <p class="summoner-name">{{ profile.summoner.name }}</p>
        <pre
            class="summoner-id"
            title="Your Summoner ID"
            appTippy
            [tippyOptions]="{
                placement: 'right',
                theme: 'light',
                arrow: true,
                arrowType: 'round'
            }"
            >{{ profile.summoner.id }}</pre
        >
        <p class="summoner-elo">
            {{ profile.summoner.tier }}
            {{ profile.summoner.division }}
        </p>
        <!--<p class="summoner-queue">{{ profile.summoner.queue }}</p>-->
    </div>
    <div class="settings">
        <!-- Custom Summoner Name -->
        <h1 style="margin-top: 0;">
            Custom Summoner Name
            <img
                class="warning"
                src="../../assets/img/warning_mini.png"
                title="This change is local, only you will be able to see it!"
                appTippy
                [tippyOptions]="{
                    placement: 'bottom',
                    theme: 'light',
                    arrow: true,
                    arrowType: 'round'
                }"
            />
        </h1>

        <input type="text" [(ngModel)]="form.customName" />
        <button (click)="setSummonerName()">Set Summoner Name</button>

        <!-- Custom Rank -->
        <div class="divider"></div>
        <h1>
            Custom Rank
        </h1>

        <app-select [options]="tiers" [(ngModel)]="form.customRank.tier"></app-select>
        <app-select [options]="divisions" [(ngModel)]="form.customRank.division"></app-select>
        <app-select [options]="queues" [(ngModel)]="form.customRank.queue"></app-select>
        <button (click)="setRank()">Set Rank</button>

        <!-- Custom Status -->
        <div class="divider"></div>
        <h1>Custom Status</h1>

        <input type="text" [(ngModel)]="form.customStatus" />
        <button (click)="setStatus()">Set Status</button>

        <!-- Custom Icon -->
        <div class="divider"></div>
        <h1>Custom Summoner Icon</h1>

        <!-- Custom Icon -->
        <div class="divider"></div>
        <h1>Auto Accept Queue</h1>

        <!-- Custom Icon -->
        <div class="divider"></div>
        <h1>Champ Select Greeting</h1>
    </div>
</div>
