::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    height: 0px;
    background: transparent; /* Optional: just make scrollbar invisible */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --active: #f0e6d2;
    --cold: #cdbe91;
}

*:focus {
    outline: 0;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

div.divider {
    width: 100%;
    height: 0px;
    border-top: 1px solid #1b292a;
    margin: 15px 0;
}

h1 {
    color: var(--active);
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 21px;
}

button {
    min-width: 136px;
    padding: 6px 10px;
    background-color: #1e2328;
    box-shadow: inset 0 0 3px #070f17;
    color: #cdbe91;
    font-family: Beaufort;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #c4a361, #6d5926);
    border-image-slice: 1;
    font-size: 13px;
    cursor: pointer;
}

button:hover {
    color: #f0e6d2;
    background: linear-gradient(180deg, #1e232a, #433d2b);
    border-image-source: linear-gradient(180deg, #efe5d6, #c99d3e);
    box-shadow: none;
}

button:active {
    box-shadow: inset 0 0 3px #070f17;
    color: #5c5b57;
    background: #1e2328;
    border-image-source: linear-gradient(180deg, #463817, #694f27);
}

button.circular {
    height: 28px;
    width: 28px;
    min-width: unset;
    border-radius: 50%;
    border: 2px solid #9b7631;
    padding: 6px 0;
}

button.circular img {
    height: 16px;
    width: 16px;
    margin-top: -2px;
}

button.circular:hover {
    border: 2px solid #ddc28a;
}

button.circular:active {
    background: #1e2328;
    border: 2px solid #60491e;
}

/* Tooltips */

.tippy-tooltip.light-theme {
    color: #9e998a;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    background-color: #010a13;
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    border: 2px solid #60491f;
    border-radius: 0px;
}
.tippy-tooltip.light-theme[x-placement^="top"] .tippy-arrow {
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^="bottom"] .tippy-arrow {
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^="left"] .tippy-arrow {
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^="right"] .tippy-arrow {
    border-right: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.tippy-tooltip.light-theme .tippy-backdrop {
    background-color: #010a13;
}
.tippy-tooltip.light-theme .tippy-roundarrow {
    fill: #60491f;
    margin-top: -3px;
}
.tippy-tooltip.light-theme[data-animatefill] {
    background-color: initial;
}
