<!-- Auto accept queue -->
<h1>Ready Check</h1>

<label class="input checkbox" [ngClass]="{ checked: readyCheck.checked }">
    Automatically accept
    <input
        type="checkbox"
        (ngModelChange)="champSelect.toggleReadyCheck()"
        [(ngModel)]="champSelect.enableReadyCheck"
        #readyCheck
    />
    <span class="checkmark"></span>
</label>

<label class="input checkbox" [ngClass]="{ checked: autoHide.checked }">
    Automatically hide window after accepting
    <input type="checkbox" [(ngModel)]="champSelect.enableAutoHide" #autoHide />
    <span class="checkmark"></span>
</label>

<!-- Champ Select Greeting -->
<div class="divider"></div>
<h1>Champ Select Greeting</h1>
